#header {
  background-color: rgb(242, 231, 231);
  display: flex;
  justify-content: space-around;
  /*----------------------MEDIA----------------------------------*/
}
#header .logo {
  display: flex;
  align-items: center;
}
#header .logo img {
  border-radius: 200px;
}
#header #nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#header #nav h1 {
  text-align: center;
  color: #7c5e45;
  font-size: 50px;
  font-weight: 600;
}
#header #nav ul {
  padding-top: 30px;
}
#header #nav ul li a {
  color: black;
  font-size: 0.9em;
}
#header #nav ul li a:hover {
  color: rgb(175, 155, 155);
  transform: translate(0px, -1.5px);
  transition: 0.4s;
}
#header .carrito {
  display: flex;
  align-items: center;
}
#header .carrito button {
  border: none;
  background-color: rgb(242, 231, 231);
}
#header .carrito button img {
  width: 50px;
}
@media (max-width: 640px) {
  #header .logo {
    display: flex;
    align-items: center;
  }
  #header .logo img {
    width: 85px;
  }
  #header #nav {
    padding-top: 10px;
  }
  #header #nav h1 {
    font-size: 40px;
    font-weight: 600;
  }
  #header #nav ul {
    padding: 30px 0px 30px;
  }
  #header #nav ul li {
    font-size: 0.8em;
  }
  #header .carrito {
    display: flex;
    align-items: center;
  }
  #header .carrito button img {
    width: 30px;
  }
}
@media (min-width: 641px) and (max-width: 720px) {
  #header .logo {
    display: flex;
    align-items: center;
  }
  #header .logo img {
    width: 100px;
  }
  #header #nav {
    padding-top: 10px;
  }
  #header #nav h1 {
    font-size: 35px;
    font-weight: 600;
  }
  #header #nav ul {
    padding: 30px 0px 30px;
  }
  #header #nav ul li {
    font-size: 0.85em;
  }
  #header .carrito {
    display: flex;
    align-items: center;
  }
  #header .carrito button img {
    width: 35px;
  }
}
@media (min-width: 721px) and (max-width: 900px) {
  #header .logo {
    display: flex;
    align-items: center;
  }
  #header .logo img {
    width: 110px;
  }
  #header #nav {
    padding-top: 10px;
  }
  #header #nav h1 {
    font-size: 40px;
    font-weight: 600;
  }
  #header #nav ul {
    padding: 30px 0px 30px;
  }
  #header #nav ul li {
    font-size: 1em;
  }
  #header .carrito {
    display: flex;
    align-items: center;
  }
  #header .carrito button img {
    width: 35px;
  }
}
@media (min-width: 901px) and (max-width: 1280px) {
  #header .logo {
    display: flex;
    align-items: center;
  }
  #header .logo img {
    width: 130px;
  }
  #header #nav {
    padding-top: 10px;
  }
  #header #nav h1 {
    font-size: 50px;
    font-weight: 600;
  }
  #header #nav ul {
    padding: 30px 0px 30px;
  }
  #header #nav ul li {
    font-size: 1em;
  }
  #header .carrito {
    display: flex;
    align-items: center;
  }
  #header .carrito button img {
    width: 40px;
  }
}
@media (min-width: 1281px) and (max-width: 1600px) {
  #header .logo {
    display: flex;
    align-items: center;
  }
  #header .logo img {
    width: 120px;
  }
  #header #nav {
    padding-top: 10px;
  }
  #header #nav h1 {
    font-size: 50px;
    font-weight: 600;
  }
  #header #nav ul {
    padding: 30px 0px 30px;
  }
  #header #nav ul li {
    font-size: 1.2em;
  }
  #header .carrito {
    display: flex;
    align-items: center;
  }
  #header .carrito button img {
    width: 45px;
  }
}

#footer {
  background-color: rgb(242, 231, 231);
}
#footer h5 {
  text-align: center;
  color: #7c5e45;
  font-weight: 700;
  padding: 20px;
}
#footer .redes {
  display: flex;
  justify-content: center;
  gap: 20px;
}
#footer .footer__nav li {
  font-size: 0.9em;
}
#footer .footer__nav li a {
  color: black;
}
#footer .footer__nav li a:hover {
  color: rgb(175, 155, 155);
  transform: translate(0px, -1.5px);
  transition: 0.4s;
}
#footer .footer__copy {
  text-align: center;
  background-color: #E6D1BE;
  padding: 20px;
}
#footer .footer__copy p {
  font-weight: 350;
  font-size: 0.95em;
}
#footer .footer__copy a {
  color: rgb(0, 4, 255);
  margin-left: 3px;
}

#main .main__img img {
  width: 100%;
  object-fit: cover;
  height: 500px;
}
#main .main__nav-pages a {
  color: #6f5e4e;
}

h2 {
  text-align: center;
  color: #7c5e45;
  font-size: 30px;
  font-weight: 700;
}

#main .main__categorias .main__categorias-bg {
  background-color: rgba(169, 171, 174, 0.064);
  padding: 20px;
}
#main .main__categorias .main__categorias-bg h6 {
  font-size: 1.2em;
  text-align: center;
}
#main .main__categorias .main__categorias-bg ul {
  justify-content: center;
  gap: 30px;
  padding-top: 20px;
}
#main .main__categorias .main__categorias-bg ul li {
  list-style: none;
  font-size: 0.6em;
}
#main .main__categorias .main__categorias-bg ul li button {
  border: none;
}
#main .main__video {
  padding: 40px;
}
#main .main__video .main__video-bg {
  border-radius: 20px;
}
#main .main__video .main__video-bg video {
  width: 200px;
}

#main .main__redes-form {
  justify-content: center;
  gap: 80px;
  padding: 50px 0px 100px 0px;
}
#main .main__redes-form .main__redes h3 {
  text-align: center;
  font-size: 1.4em;
  color: #704420;
}
#main .main__redes-form .main__redes .redes__insta-fb {
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#main .main__redes-form .main__redes .redes__insta-fb a {
  text-decoration: none;
  color: black;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  padding-bottom: 15px;
}
#main .main__redes-form .main__form {
  padding: 50px 0px 0px 0px;
}
#main .main__redes-form .main__form form {
  padding: 30px 0px 0px 40px;
}
#main .main__redes-form .main__form form input, #main .main__redes-form .main__form form textarea {
  width: 90%;
}
#main .main__redes-form .main__form h4 {
  text-align: center;
  font-size: 1.4em;
  color: #704420;
}
#main .main__redes-form .main__form button {
  background-color: rgb(72, 71, 71);
  border: none;
}
#main .main__redes-form .main__form button:hover {
  background-color: rgb(114, 113, 113);
  margin: none;
}

@media (min-width: 720px) and (max-width: 900px) {
  #main .main__redes-form {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  #main .main__redes-form .main__redes {
    padding: 50px 0px 0px 0px;
  }
  #main .main__redes-form .main__redes .redes__insta-fb {
    align-items: start;
  }
  #main .main__redes-form .main__form form .form input {
    width: 300px;
  }
  #main .main__redes-form .main__form form .form textarea {
    width: 300px;
    height: 200px;
  }
}
@media (min-width: 901px) and (max-width: 1280px) {
  #main .main__redes-form {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  #main .main__redes-form .main__redes {
    padding: 50px 0px 0px 0px;
  }
  #main .main__redes-form .main__redes .redes__insta-fb {
    align-items: start;
  }
  #main .main__redes-form .main__form form .form input {
    width: 400px;
  }
  #main .main__redes-form .main__form form .form textarea {
    width: 400px;
    height: 200px;
  }
}
@media (min-width: 1281px) and (max-width: 1600px) {
  #main .main__redes-form {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 50px;
  }
  #main .main__redes-form .main__redes {
    padding: 50px 0px 0px 0px;
  }
  #main .main__redes-form .main__redes .redes__insta-fb {
    align-items: start;
  }
  #main .main__redes-form .main__form form .form input {
    width: 400px;
  }
  #main .main__redes-form .main__form form .form textarea {
    width: 400px;
    height: 200px;
  }
}
.box-models-productos, #main .main__aside-productos {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#main .main__aside-productos .main__aside .main__aside-bg {
  background-color: rgba(111, 115, 115, 0.284);
  padding: 20px 0px 20px 0px;
}
#main .main__aside-productos .main__aside .main__aside-bg h6 {
  text-align: center;
  font-size: 1.2em;
}
#main .main__aside-productos .main__aside .main__aside-bg aside ul {
  list-style: none;
  gap: 10px;
}
#main .main__aside-productos .main__aside .main__aside-bg aside ul li button {
  padding: 5px;
  width: 140px;
  border: none;
  border-radius: 5px;
}

* {
  padding: 0;
  margin: 0;
  font-family: "Nunito", sans-serif;
}

main {
  min-height: 100vh;
}

/*# sourceMappingURL=style.css.map */
