#header {
  background-color: rgb(242, 231, 231);
  display: flex;
  justify-content: space-between;
  align-items: center;
  /*----------------------MEDIA----------------------------------*/
}
#header .header__titulo {
  padding-left: 20px;
}
#header .header__titulo h1 {
  color: #7c5e45;
  font-size: 1.7rem;
  font-weight: 600;
  text-align: start;
}
#header .header__titulo h1 span {
  display: block;
  padding-left: 3rem;
}
#header #nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#header #nav ul li a {
  margin: 0;
  color: black;
  display: inline-block;
  font-size: 0.7rem;
  text-transform: uppercase;
}
#header #nav ul li a:hover {
  color: rgb(175, 155, 155);
  transform: translate(0px, -0.5px);
  transition: 0.2s;
  text-decoration: underline;
}
#header .header__botones {
  display: flex;
  align-items: center;
  gap: 10px;
  padding-right: 20px;
}
#header .header__botones .carrito button {
  border: none;
  background-color: rgb(242, 231, 231);
}
#header .header__botones .carrito button img {
  width: 20px;
}
#header .header__botones .carrito #vaciarCarrito {
  background-color: rgb(255, 140, 0);
  color: white;
  border-radius: 3px;
  padding: 3px;
}
#header .header__botones .carrito #listaCarrito {
  display: flex;
  flex-direction: column;
  gap: 10px;
  list-style: none;
}
#header .header__botones .carrito #listaCarrito #itemListaCarrito #contenidoCarrito {
  display: flex;
  align-items: center;
  background-color: azure;
}
#header .header__botones .carrito #listaCarrito #itemListaCarrito #contenidoCarrito .imgCarrito {
  width: 50px;
  height: 100%;
  border-radius: 3px;
  object-fit: cover;
}
#header .header__botones .carrito #listaCarrito #itemListaCarrito #contenidoCarrito .nombreYPrecioCarrito {
  font-size: 0.8rem;
  text-align: center;
}
#header .header__botones .carrito #listaCarrito #itemListaCarrito #contenidoCarrito .botonEliminarProducto {
  background-color: red;
  color: white;
  border-radius: 3px;
}
#header .header__botones .lupa button {
  border: none;
  background-color: rgb(242, 231, 231);
}
#header .header__botones .lupa button img {
  width: 20px;
}
#header .header__botones .cuenta button {
  border: none;
  background-color: rgb(242, 231, 231);
}
#header .header__botones .cuenta button img {
  width: 20px;
}
@media (min-width: 641px) and (max-width: 720px) {
  #header .header__titulo {
    padding-left: 20px;
  }
  #header .header__titulo h1 span {
    display: block;
    padding-left: 3rem;
  }
  #header #nav ul a {
    font-size: 0.7rem;
  }
  #header .header__botones {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  #header .header__botones .carrito button {
    border: none;
    background-color: rgb(242, 231, 231);
  }
  #header .header__botones .carrito button img {
    width: 25px;
  }
  #header .header__botones .lupa button {
    border: none;
    background-color: rgb(242, 231, 231);
  }
  #header .header__botones .lupa button img {
    width: 25px;
  }
  #header .header__botones .cuenta button {
    border: none;
    background-color: rgb(242, 231, 231);
  }
  #header .header__botones .cuenta button img {
    width: 25px;
  }
}
@media (min-width: 721px) and (max-width: 900px) {
  #header .header__titulo {
    padding-left: 20px;
  }
  #header .header__titulo h1 span {
    display: block;
    padding-left: 3rem;
  }
  #header #nav ul li a {
    font-size: 0.7rem;
  }
  #header .header__botones {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  #header .header__botones .carrito button {
    border: none;
    background-color: rgb(242, 231, 231);
  }
  #header .header__botones .carrito button img {
    width: 25px;
  }
  #header .header__botones .lupa button {
    border: none;
    background-color: rgb(242, 231, 231);
  }
  #header .header__botones .lupa button img {
    width: 25px;
  }
  #header .header__botones .cuenta button {
    border: none;
    background-color: rgb(242, 231, 231);
  }
  #header .header__botones .cuenta button img {
    width: 25px;
  }
}
@media (min-width: 901px) and (max-width: 1280px) {
  #header .header__titulo {
    padding-left: 20px;
  }
  #header .header__titulo h1 span {
    display: block;
    padding-left: 3rem;
  }
  #header #nav ul li a {
    font-size: 0.8rem;
  }
  #header .header__botones {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  #header .header__botones .carrito button {
    border: none;
    background-color: rgb(242, 231, 231);
  }
  #header .header__botones .carrito button img {
    width: 25px;
  }
  #header .header__botones .lupa button {
    border: none;
    background-color: rgb(242, 231, 231);
  }
  #header .header__botones .lupa button img {
    width: 25px;
  }
  #header .header__botones .cuenta button {
    border: none;
    background-color: rgb(242, 231, 231);
  }
  #header .header__botones .cuenta button img {
    width: 25px;
  }
}
@media (min-width: 1281px) {
  #header .header__titulo {
    padding-left: 20px;
  }
  #header .header__titulo h1 span {
    display: block;
    padding-left: 3rem;
  }
  #header #nav ul li a {
    font-size: 0.8rem;
  }
  #header .header__botones {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  #header .header__botones .carrito button {
    border: none;
    background-color: rgb(242, 231, 231);
  }
  #header .header__botones .carrito button img {
    width: 25px;
  }
  #header .header__botones .lupa button {
    border: none;
    background-color: rgb(242, 231, 231);
  }
  #header .header__botones .lupa button img {
    width: 25px;
  }
  #header .header__botones .cuenta button {
    border: none;
    background-color: rgb(242, 231, 231);
  }
  #header .header__botones .cuenta button img {
    width: 25px;
  }
}

#footer {
  background-color: rgb(242, 231, 231);
}
#footer .footer__redes-nav-mail {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0px;
  flex-direction: column;
}
#footer .footer__redes-nav-mail h5 {
  text-align: center;
  color: #7c5e45;
  font-weight: 700;
  padding: 20px;
}
#footer .footer__redes-nav-mail .redes {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
#footer .footer__redes-nav-mail .footer__nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0px;
  flex-direction: column;
}
#footer .footer__redes-nav-mail .footer__nav ul li {
  font-size: 0.7em;
}
#footer .footer__redes-nav-mail .footer__nav ul li a {
  color: black;
  text-transform: uppercase;
}
#footer .footer__redes-nav-mail .footer__nav ul li a:hover {
  color: rgb(175, 155, 155);
  transform: translate(0px, -1.5px);
  transition: 0.4s;
}
#footer .footer__redes-nav-mail .footer__mail {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7px;
  padding: 20px 0px 10px 0px;
}
#footer .footer__redes-nav-mail .footer__mail a {
  font-size: 0.8rem;
  color: black;
  text-decoration: none;
}
#footer .footer__redes-nav-mail .footer__mail a:hover {
  text-decoration: underline;
}
#footer .footer__copy {
  text-align: center;
  background-color: #E6D1BE;
  padding: 20px 0px 20px 0px;
}
#footer .footer__copy p {
  font-weight: 350;
  font-size: 0.9rem;
}
#footer .footer__copy a {
  color: rgb(0, 4, 255);
  font-size: 0.9rem;
  margin-left: 3px;
  text-decoration: none;
}
#footer .footer__copy a:hover {
  text-decoration: underline;
}

@media (min-width: 560px) {
  #footer .footer__redes-nav-mail .footer__nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0px;
    flex-direction: row;
  }
}
@media (min-width: 1000px) {
  #footer .footer__redes-nav-mail .footer__mail {
    position: absolute;
    left: 15px;
    padding: 0px;
  }
  #footer .footer__redes-nav-mail .footer__mail a {
    font-size: 0.9rem;
  }
}
#main .main__img img {
  width: 100%;
  object-fit: cover;
  height: 500px;
}
#main .main__nav-pages a {
  color: #6f5e4e;
}

h2 {
  text-align: center;
  color: #7c5e45;
  font-size: 1.6rem;
  font-weight: 700;
}

#main .main__categorias .main__categorias-bg {
  background-color: rgba(169, 171, 174, 0.064);
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
  padding: 20px 0px 20px 0px;
}
#main .main__categorias .main__categorias-bg h6 {
  font-size: 1.2rem;
  text-align: center;
}
#main .main__categorias .main__categorias-bg ul {
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  padding: 20px 0px 0px 0px;
}
#main .main__categorias .main__categorias-bg ul li {
  list-style: none;
  font-size: 0.6rem;
}
#main .main__categorias .main__categorias-bg ul li button {
  padding: 5px 10px 5px 10px;
  border: none;
  border-radius: 5px;
  background-color: rgba(241, 208, 173, 0.466);
}
#main .main__categorias .main__categorias-bg ul li button:hover {
  color: rgba(105, 102, 102, 0.679);
}
#main .main__video {
  padding: 50px 0px 50px 0px;
}
#main .main__video video {
  width: 200px;
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.3);
}

@media (min-width: 641px) and (max-width: 720px) {
  #main .main__categorias .main__categorias-bg h6 {
    font-size: 1.2rem;
  }
  #main .main__categorias .main__categorias-bg ul {
    gap: 20px;
  }
  #main .main__categorias .main__categorias-bg ul li {
    font-size: 0.7rem;
  }
  #main .main__categorias .main__categorias-bg ul li button {
    padding: 5px 15px 5px 15px;
  }
  #main .main__video video {
    width: 250px;
  }
}
@media (min-width: 721px) and (max-width: 900px) {
  #main .main__categorias .main__categorias-bg h6 {
    font-size: 1.2rem;
  }
  #main .main__categorias .main__categorias-bg ul {
    gap: 20px;
  }
  #main .main__categorias .main__categorias-bg ul li {
    font-size: 0.7rem;
  }
  #main .main__categorias .main__categorias-bg ul li button {
    padding: 5px 15px 5px 15px;
  }
  #main .main__video video {
    width: 300px;
  }
}
@media (min-width: 901px) {
  #main .main__categorias .main__categorias-bg h6 {
    font-size: 1.3rem;
  }
  #main .main__categorias .main__categorias-bg ul {
    gap: 20px;
  }
  #main .main__categorias .main__categorias-bg ul li {
    font-size: 0.8rem;
  }
  #main .main__categorias .main__categorias-bg ul li button {
    padding: 5px 20px 5px 20px;
  }
  #main .main__video video {
    width: 350px;
  }
}
@media (min-width: 1281px) and (max-width: 1600px) {
  #main .main__categorias .main__categorias-bg h6 {
    font-size: 1.3rem;
  }
  #main .main__categorias .main__categorias-bg ul {
    gap: 20px;
  }
  #main .main__categorias .main__categorias-bg ul li {
    font-size: 0.8rem;
  }
  #main .main__categorias .main__categorias-bg ul li button {
    padding: 5px 20px 5px 20px;
  }
  #main .main__video video {
    width: 350px;
  }
}
#main .main__redes-form {
  justify-content: center;
  gap: 80px;
  padding: 50px 0px 100px 0px;
}
#main .main__redes-form .main__redes h3 {
  text-align: center;
  font-size: 1.4em;
  color: rgb(187, 137, 76);
}
#main .main__redes-form .main__redes .redes__insta-fb {
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#main .main__redes-form .main__redes .redes__insta-fb a {
  text-decoration: none;
  color: black;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  padding-bottom: 15px;
}
#main .main__redes-form .main__form {
  padding: 50px 0px 0px 0px;
}
#main .main__redes-form .main__form form {
  padding: 30px 0px 0px 40px;
}
#main .main__redes-form .main__form form input, #main .main__redes-form .main__form form textarea {
  width: 90%;
}
#main .main__redes-form .main__form h4 {
  text-align: center;
  font-size: 1.4em;
  color: rgb(187, 137, 76);
}
#main .main__redes-form .main__form button {
  background-color: rgb(72, 71, 71);
  border: none;
}
#main .main__redes-form .main__form button:hover {
  background-color: rgb(114, 113, 113);
  margin: none;
}

@media (min-width: 720px) and (max-width: 900px) {
  #main .main__redes-form {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  #main .main__redes-form .main__redes {
    padding: 50px 0px 0px 0px;
  }
  #main .main__redes-form .main__redes .redes__insta-fb {
    align-items: start;
  }
  #main .main__redes-form .main__form form .form input {
    width: 300px;
  }
  #main .main__redes-form .main__form form .form textarea {
    width: 300px;
    height: 200px;
  }
}
@media (min-width: 901px) and (max-width: 1280px) {
  #main .main__redes-form {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  #main .main__redes-form .main__redes {
    padding: 50px 0px 0px 0px;
  }
  #main .main__redes-form .main__redes .redes__insta-fb {
    align-items: start;
  }
  #main .main__redes-form .main__form form .form input {
    width: 400px;
  }
  #main .main__redes-form .main__form form .form textarea {
    width: 400px;
    height: 200px;
  }
}
@media (min-width: 1281px) {
  #main .main__redes-form {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 50px;
  }
  #main .main__redes-form .main__redes {
    padding: 50px 0px 0px 0px;
  }
  #main .main__redes-form .main__redes .redes__insta-fb {
    align-items: start;
  }
  #main .main__redes-form .main__form form .form input {
    width: 400px;
  }
  #main .main__redes-form .main__form form .form textarea {
    width: 400px;
    height: 200px;
  }
}
#main .main__buscador {
  display: flex;
  justify-content: center;
  padding: 50px 0px 50px 0px;
}
#main .main__buscador input {
  width: 700px;
}
#main .main__aside-productos {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 100px;
  padding: 50px 0px 100px 0px;
}
#main .main__aside-productos .main__categorias .categorias__filtros {
  background-color: rgba(229, 229, 229, 0.626);
  padding: 20px;
}
#main .main__aside-productos .main__categorias .categorias__filtros p {
  text-align: center;
  font-size: 1.2rem;
  font-weight: 600;
  color: black;
}
#main .main__aside-productos .main__categorias .categorias__filtros .categorias li {
  padding: 5px 0px 5px 0px;
  list-style: none;
  font-size: 0.8rem;
}
#main .main__aside-productos .main__categorias .categorias__filtros .categorias li button {
  border: none;
  color: black;
}
#main .main__aside-productos .main__categorias .categorias__filtros .categorias li button:hover {
  color: rgba(105, 102, 102, 0.679);
}
#main .main__aside-productos .main__categorias .categorias__filtros .categorias li .active {
  background-color: rgba(46, 46, 49, 0.6039215686);
  color: #fff;
  padding: 2px;
  border-radius: 2px;
}
#main .main__aside-productos .main__categorias .categorias__filtros .categorias li .active:hover {
  color: #fff;
}
#main .main__aside-productos .main__productos {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 80px;
}
#main .main__aside-productos .main__productos #contenedor__productos {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 0px;
  column-gap: 0px;
  row-gap: 100px;
}
#main .main__aside-productos .main__productos #contenedor__productos .card {
  width: 260px;
  text-align: center;
  border-radius: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
}
#main .main__aside-productos .main__productos #contenedor__productos .card #imgProducto {
  transition: transform 0.2s ease;
}
#main .main__aside-productos .main__productos #contenedor__productos .card #imgProducto:hover {
  transform: scale(1.3);
}
#main .main__aside-productos .main__productos #contenedor__productos .card img {
  width: 100%;
  height: 220px;
  object-fit: cover;
}
#main .main__aside-productos .main__productos #contenedor__productos .card .cardContenido {
  padding: 10px;
  align-items: center;
}
#main .main__aside-productos .main__productos #contenedor__productos .card .cardContenido h6 {
  font-size: 1.1rem;
  color: #333;
}
#main .main__aside-productos .main__productos #contenedor__productos .card .cardContenido p {
  font-size: 0.85rem;
  color: #555;
  line-height: 1.4;
}
#main .main__aside-productos .main__productos #contenedor__productos .card .cardContenido button {
  display: inline-block;
  background-color: #3ac735;
  color: #fff;
  border: none;
  width: 130px;
  border-radius: 5px;
  padding: 8px 12px;
  font-size: 0.77rem;
  transition: background-color 0.2s ease;
  margin-bottom: 20px;
}
#main .main__aside-productos .main__productos #contenedor__productos .card .cardContenido button:hover {
  background-color: #42ed4e;
}
#main .main__aside-productos .main__productos #contenedor__productos .card .cardContenido #divCantidad {
  display: flex;
  flex-direction: row;
  align-items: center;
  row-gap: 0px;
  gap: 10px;
  justify-content: center;
}
#main .main__aside-productos .main__productos #contenedor__productos .card .cardContenido #divCantidad p {
  padding-top: 15px;
}
#main .main__aside-productos .main__productos #contenedor__productos .card .cardContenido #divCantidad .cantidadInput {
  width: 30px;
  height: 30px;
  font-size: 0.8rem;
}
@media (min-width: 720px) and (max-width: 900px) {
  #main .main__aside-productos .main__categorias .categorias__filtros .categorias {
    display: flex;
    gap: 30px;
  }
  #main .main__aside-productos .main__categorias .categorias__filtros .categorias li {
    font-size: 0.9rem;
  }
  #main .main__aside-productos .main__productos #contenedor__productos {
    display: flex;
    flex-direction: row;
    align-items: center;
    row-gap: 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 60px;
    row-gap: 100px;
  }
}
@media (min-width: 901px) and (max-width: 1280px) {
  #main .main__aside-productos {
    display: flex;
    flex-direction: row;
    align-items: start;
    row-gap: 0px;
  }
  #main .main__aside-productos .main__categorias {
    min-height: 100vh;
    width: 30%;
    padding: 100px 0px 0px 30px;
  }
  #main .main__aside-productos .main__categorias .categorias__filtros {
    padding: 30px 15px 30px 15px;
    width: 180px;
  }
  #main .main__aside-productos .main__categorias .categorias__filtros .categorias li {
    font-size: 1rem;
  }
  #main .main__aside-productos .main__productos #contenedor__productos {
    display: flex;
    flex-direction: row;
    align-items: center;
    row-gap: 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 60px;
    row-gap: 100px;
  }
}
@media (min-width: 1281px) {
  #main .main__aside-productos {
    display: flex;
    flex-direction: row;
    align-items: start;
    row-gap: 0px;
  }
  #main .main__aside-productos .main__categorias {
    min-height: 100vh;
    width: 30%;
    padding: 100px 0px 0px 30px;
  }
  #main .main__aside-productos .main__categorias .categorias__filtros {
    padding: 30px 15px 30px 15px;
    width: 180px;
  }
  #main .main__aside-productos .main__categorias .categorias__filtros .categorias li {
    font-size: 1rem;
  }
  #main .main__aside-productos .main__productos #contenedor__productos {
    display: flex;
    flex-direction: row;
    align-items: center;
    row-gap: 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 60px;
    row-gap: 100px;
  }
}

#main .main__iframe-texto {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  column-gap: 0px;
  row-gap: 80px;
  padding: 0px;
}
#main .main__iframe-texto .main__iframe h3 {
  color: rgb(187, 137, 76);
  font-size: 1.3rem;
  padding-bottom: 20px;
}
#main .main__iframe-texto .main__iframe iframe {
  width: 300px;
  height: 250px;
}
#main .main__iframe-texto .main__texto {
  width: 300px;
}
#main .main__iframe-texto .main__texto h4 {
  color: rgb(187, 137, 76);
  font-size: 1.3rem;
  padding-bottom: 20px;
}
#main .main__iframe-texto .main__texto p {
  word-wrap: break-word;
  white-space: normal;
}

@media (min-width: 641px) and (max-width: 720px) {
  #main .main__iframe-texto {
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: space-between;
    column-gap: 80px;
    row-gap: 0px;
    padding: 40px 0px 40px 0px;
  }
  #main .main__iframe-texto .main__iframe {
    padding-left: 20px;
  }
  #main .main__iframe-texto .main__iframe h3 {
    font-size: 1.4rem;
    padding-bottom: 20px;
  }
  #main .main__iframe-texto .main__texto {
    padding: 0;
  }
  #main .main__iframe-texto .main__texto h4 {
    font-size: 1.4rem;
    padding-bottom: 20px;
  }
}
@media (min-width: 721px) and (max-width: 900px) {
  #main .main__iframe-texto {
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: space-between;
    column-gap: 80px;
    row-gap: 0px;
    padding: 40px 0px 40px 0px;
  }
  #main .main__iframe-texto .main__iframe {
    padding-left: 30px;
  }
  #main .main__iframe-texto .main__iframe iframe {
    width: 330px;
  }
  #main .main__iframe-texto .main__iframe h3 {
    font-size: 1.5rem;
    padding-bottom: 20px;
  }
  #main .main__iframe-texto .main__texto {
    width: 50%;
  }
  #main .main__iframe-texto .main__texto h4 {
    font-size: 1.5rem;
    padding-bottom: 20px;
  }
}
@media (min-width: 901px) and (max-width: 1280px) {
  #main .main__iframe-texto {
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: space-between;
    column-gap: 80px;
    row-gap: 0px;
    padding: 40px 0px 40px 0px;
  }
  #main .main__iframe-texto .main__iframe {
    padding-left: 30px;
  }
  #main .main__iframe-texto .main__iframe iframe {
    width: 400px;
  }
  #main .main__iframe-texto .main__iframe h3 {
    font-size: 1.6rem;
    padding-bottom: 20px;
  }
  #main .main__iframe-texto .main__texto {
    width: 50%;
    padding-right: 30px;
  }
  #main .main__iframe-texto .main__texto h4 {
    font-size: 1.6rem;
    padding-bottom: 20px;
  }
}
@media (min-width: 1281px) {
  #main .main__iframe-texto {
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: space-between;
    column-gap: 100px;
    row-gap: 0px;
    padding: 40px 0px 40px 0px;
  }
  #main .main__iframe-texto .main__iframe {
    padding-left: 50px;
  }
  #main .main__iframe-texto .main__iframe h3 {
    font-size: 1.7rem;
    padding-bottom: 20px;
  }
  #main .main__iframe-texto .main__iframe iframe {
    width: 500px;
    height: 300px;
  }
  #main .main__iframe-texto .main__texto {
    width: 50%;
    padding-right: 50px;
  }
  #main .main__iframe-texto .main__texto h4 {
    font-size: 1.7rem;
    padding-bottom: 20px;
  }
}
#main .subtitulo__imagenes h3 {
  font-size: 1rem;
  text-align: center;
  color: rgb(187, 137, 76);
}
#main .main__imagenes {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 0px 50px 0px;
  gap: 50px;
}
#main .main__imagenes .imagen__izquierda, #main .main__imagenes .imagen__derecha {
  background-color: rgba(210, 210, 206, 0.152);
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.1);
  padding: 50px;
}
#main .main__imagenes .imagen__izquierda img, #main .main__imagenes .imagen__derecha img {
  width: 200px;
}

@media (min-width: 641px) and (max-width: 720px) {
  #main .subtitulo__imagenes h3 {
    font-size: 1.3rem;
  }
  #main .main__imagenes {
    display: flex;
    gap: 100px;
    padding: 20px;
  }
  #main .main__imagenes .imagen__izquierda {
    align-self: start;
  }
  #main .main__imagenes .imagen__derecha {
    align-self: end;
  }
}
@media (min-width: 721px) and (max-width: 900px) {
  #main .subtitulo__imagenes h3 {
    font-size: 1.3rem;
  }
  #main .main__imagenes {
    display: flex;
    gap: 100px;
    padding: 100px 30px 100px 30px;
  }
  #main .main__imagenes .imagen__izquierda {
    align-self: start;
  }
  #main .main__imagenes .imagen__izquierda img {
    width: 250px;
  }
  #main .main__imagenes .imagen__derecha {
    align-self: end;
  }
  #main .main__imagenes .imagen__derecha img {
    width: 250px;
  }
}
@media (min-width: 901px) and (max-width: 1280px) {
  #main .subtitulo__imagenes h3 {
    font-size: 1.4rem;
  }
  #main .main__imagenes {
    display: flex;
    gap: 100px;
    padding: 100px 50px 100px 50px;
  }
  #main .main__imagenes .imagen__izquierda {
    align-self: start;
  }
  #main .main__imagenes .imagen__izquierda img {
    width: 300px;
  }
  #main .main__imagenes .imagen__derecha {
    align-self: end;
  }
  #main .main__imagenes .imagen__derecha img {
    width: 300px;
  }
}
@media (min-width: 1281px) {
  #main .subtitulo__imagenes h3 {
    font-size: 1.5rem;
  }
  #main .main__imagenes {
    padding: 100px;
    display: flex;
    gap: 100px;
  }
  #main .main__imagenes .imagen__izquierda {
    align-self: start;
  }
  #main .main__imagenes .imagen__izquierda img {
    width: 270px;
  }
  #main .main__imagenes .imagen__derecha {
    align-self: end;
  }
  #main .main__imagenes .imagen__derecha img {
    width: 270px;
  }
}
* {
  padding: 0;
  margin: 0;
  font-family: "Nunito", sans-serif;
}

body {
  background-color: white;
}

#main {
  min-height: 100vh;
}

/*# sourceMappingURL=style.css.map */
