@import "../variables";

@mixin modelo-botones($display, $aling-items, $gap){
    display: flex;
    align-items: center;
    gap: 10px;
}

@mixin estilo-botones(){
    border: none;
    background-color: $bg-header-footer;
}

#header{
    background-color: $bg-header-footer;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .header__titulo{
        padding-left: 20px;
        h1{
            color: $color-h1;
            font-size: 1.7rem;
            font-weight: 600;
            text-align: start;
            span{
                display: block;
                padding-left: 3rem;
            }
        }
    }

    #nav{
        display: flex;
        flex-direction: column;
        justify-content: center;
        ul{
            li{
                a{
                    margin: 0;
                    color: black;
                    display: inline-block;
                    font-size: 0.7rem;
                    text-transform: uppercase    
                }

                a:hover{
                    color: $li-hover;
                    transform: translate(0px,-0.5px);
                    transition: .2s;
                    text-decoration: underline
                }
              
            }
        }
    }

    .header__botones{
        @include modelo-botones(display,align-items, gap);
        padding-right: 20px;

        .carrito{
            #contadorCarrito{
                span{
                    display: inline-block;
                    position: absolute;
                    align-items: center;
                    padding: 2px;
                    top: 0;
                    right: 0;
                    margin: 5px 11px 0px 10px;
                }
            }
            
            button{
                @include estilo-botones();
                img{
                    width: 20px;
                }
            }
            .modal{
                display: none; /* Por defecto, estará oculto */
                position: fixed; /* Posición fija */
                z-index: 1; /* Se situará por encima de otros elementos de la página*/
                padding-top: 200px; /* El contenido estará situado a 200px de la parte superior */
                left: 0;
                top: 0;
                width: 100%; /* Ancho completo */
                height: 100%; /* Algura completa */
                overflow: auto; /* Se activará el scroll si es necesario */
                background-color: rgba(0,0,0,0.5); /* Color negro con opacidad del 50% */
                .contenido-modal{
                    position: relative; /* Relativo con respecto al contenedor -modal- */
                    background-color: white;
                    margin: auto; /* Centrada */
                    padding: 20px;
                    width: 50%;
                    -webkit-animation-name: animarsuperior;
                    -webkit-animation-duration: 0.5s;
                    animation-name: animarsuperior;
                    animation-duration: 0.5s;

                    /* Animación */
                    @keyframes animatetop{
                        from {top:0px; opacity:0} 
                        to {top:0; opacity:1}
                    }
                    
                    @keyframes animarsuperior {
                        from {top:-300px; opacity:0}
                        to {top:0; opacity:1}
                    }

                    .cerrar{
                        color: black;
                        float: right;
                        font-size: 30px;
                        &:hover,&:focus{
                            color: #000;
                            text-decoration: none;
                            cursor: pointer;
                        }
                    }

                    h4{
                        text-align: center;
                        font-size: 1.7rem;
                        color: rgb(144, 112, 74);
                    }

                    #listaCarrito{
                        display: flex;
                        flex-direction: column;
                        gap: 10px;
                        list-style: none;
                        #itemListaCarrito{
                            #contenidoCarrito{
                                display: flex;
                                align-items: center; 
                                background-color: azure;
                                
                                .imgCarrito{
                                    width: 50px;
                                    height: 100%;
                                    border-radius: 3px;
                                    object-fit: cover;
                                }
                                .nombreYPrecioCarrito{
                                    font-size: 0.8rem;
                                    text-align: center;
                                }
            
                                .botonEliminarProducto{
                                    background-color: red;
                                    color: white;
                                    border-radius: 3px;
                                }
                            }
                        }
            
            
                    }
                    .contendor__vaciar{
                        display: flex;
                        justify-content: center;
                        #vaciarCarrito{
                            background-color: rgb(16, 15, 15);
                            color: white;
                            border-radius: 3px;
                            padding: 3px;
                        }
                    }

                }
            }
        }

        .lupa{
            button{
                @include estilo-botones();
                img{
                    width: 20px;
                }
            }
        }

        .cuenta{
            button{
                @include estilo-botones();
                img{
                    width: 20px;
                }
            }
        }
    }



   
    /*----------------------MEDIA----------------------------------*/



    @media (min-width: 641px) and (max-width: 720px){
        .header__titulo{
            padding-left: 20px;
            h1{
                span{
                    display: block;
                    padding-left: 3rem;
                }
            }
        }

       #nav{
        ul{
            a{
                font-size: 0.7rem; 
            }   
            }
        }

       .header__botones{    
        @include modelo-botones(display,align-items, gap);
        .carrito{
            button{
                @include estilo-botones();
                img{
                    width: 25px;
                }
            }
    
            }
    
        .lupa{
            button{
                @include estilo-botones();
                img{
                    width: 25px;
                }
            }
        }
    
        .cuenta{
            button{
                @include estilo-botones();
                img{
                    width: 25px;
                }
            }
        }
    }
    }


    @media (min-width: 721px) and (max-width: 900px){
        .header__titulo{
            padding-left: 20px;
            h1{
                span{
                    display: block;
                    padding-left: 3rem;
                }
            }
        }

       #nav{
        ul{
            li{
                a{
                    font-size: 0.7rem; 
                }   
            }
        }
       }

       .header__botones{    
        @include modelo-botones(display,align-items, gap);
        .carrito{
            button{
                @include estilo-botones();
                img{
                    width: 25px;
                }
            }
    
            }
    
        .lupa{
            button{
                @include estilo-botones();
                img{
                    width: 25px;
                }
            }
        }
    
        .cuenta{
            button{
                @include estilo-botones();
                img{
                    width: 25px;
                }
            }
        }
    }
    }


    @media (min-width: 901px) and (max-width: 1280px){
        .header__titulo{
            padding-left: 20px;
            h1{
                span{
                    display: block;
                    padding-left: 3rem;
                }
            }
        }

       #nav{
        ul{
            li{
                a{
                    font-size: 0.8rem; 
                }   
            }
        }
       }

       .header__botones{    
        @include modelo-botones(display,align-items, gap);
        .carrito{
            button{
                @include estilo-botones();
                img{
                    width: 25px;
                }
            }
    
            }
    
        .lupa{
            button{
                @include estilo-botones();
                img{
                    width: 25px;
                }
            }
        }
    
        .cuenta{
            button{
                @include estilo-botones();
                img{
                    width: 25px;
                }
            }
        }
    }
    }


    @media (min-width: 1281px){
        .header__titulo{
            padding-left: 20px;
            h1{
                span{
                    display: block;
                    padding-left: 3rem;
                }
            }
        }

       #nav{
        ul{
            li{
                a{
                    font-size: 0.8rem; 
                }       
            }
        }
       }

       .header__botones{    
        @include modelo-botones(display,align-items, gap);
        .carrito{
            button{
                @include estilo-botones();
                img{
                    width: 25px;
                }
            }
    
            }
    
        .lupa{
            button{
                @include estilo-botones();
                img{
                    width: 25px;
                }
            }
        }
    
        .cuenta{
            button{
                @include estilo-botones();
                img{
                    width: 25px;
                }
            }
        }
    }
    }

}