@import "../variables";

@mixin logo-carrito($display, $aling-items){
    display: flex;
    align-items: center;
}

#header{
    background-color: $bg-header-footer;
    display: flex;
    justify-content: space-around;
    .logo{
        @include logo-carrito(display,align-items);
        img{
            width: 50px;
            border-radius: 200px;
        }  
    }

    #nav{
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-top: 5px;

        h1{
            text-align: center;
            color: $color-h1;
            font-size: 30px;
            font-weight: 600;
        }

        ul{
            padding: 10px 0px 10px;
            li{
                a{
                    color: black;
                    font-size: 0.7rem;
                    text-transform: uppercase    
                }

                a:hover{
                    color: $li-hover;
                    transform: translate(0px,-1.5px);
                    transition: .4s;
                }
              
            }
        }
    }

    .carrito{
        @include logo-carrito(display,align-items);
        button{
            border: none;
            background-color: $bg-header-footer;
            img{
                width: 25px;
            }
        }

        #vaciarCarrito{
            background-color: rgb(255, 140, 0);
            color: white;
            border-radius: 3px;
            padding: 3px;
        }

        #listaCarrito{
            display: flex;
            flex-direction: column;
            gap: 10px;
            list-style: none;
            #itemListaCarrito{
                #contenidoCarrito{
                    display: flex;
                    align-items: center; 
                    background-color: azure;
                    
                    .imgCarrito{
                        width: 50px;
                        height: 100%;
                        border-radius: 3px;
                        object-fit: cover;
                    }
                    .nombreYPrecioCarrito{
                        font-size: 0.8rem;
                        text-align: center;
                    }

                    .botonEliminarProducto{
                        background-color: red;
                        color: white;
                        border-radius: 3px;
                    }
                }
            }


        }
    }


   
    /*----------------------MEDIA----------------------------------*/



    @media (min-width: 641px) and (max-width: 720px){
        .logo{
            @include logo-carrito(display,align-items);
            img{                
                width: 60px;            
            }
       } 

       #nav{
        padding-top: 5px;
        h1{
            font-size: 30px;
            font-weight: 600;
        }

        ul{
            padding: 20px 0px 20px;
            a{
                font-size: 0.7rem; 
            }   
        }
       }

       .carrito{
            @include logo-carrito(display,align-items);           
            button{
                img{
                    width: 25px;
                }
            }
       }
    }


    @media (min-width: 721px) and (max-width: 900px){
        .logo{
            @include logo-carrito(display,align-items);
            img{                
                width: 70px;            
            }
       } 

       #nav{
        padding-top: 5px;
        h1{
            font-size: 40px;
            font-weight: 600;
        }

        ul{
            padding: 20px 0px 20px;
            li{
                a{
                    font-size: 0.7rem; 
                }   
            }
        }
       }

       .carrito{
            @include logo-carrito(display,align-items);           
            button{
                img{
                    width: 30px;
                }
            }
       }
    }


    @media (min-width: 901px) and (max-width: 1280px){
        .logo{
            @include logo-carrito(display,align-items);
            img{                
                width: 80px;            
            }
       } 

       #nav{
        padding-top: 5px;
        h1{
            font-size: 40px;
            font-weight: 600;
        }

        ul{
            padding: 20px 0px 20px;
            li{
                a{
                    font-size: 0.8rem; 
                }   
            }
        }
       }

       .carrito{
            @include logo-carrito(display,align-items);           
            button{
                img{
                    width: 30px;
                }
            }
       }
    }


    @media (min-width: 1281px){
        .logo{
            @include logo-carrito(display,align-items);
            img{                
                width: 80px;
                
            }
       } 

       #nav{
        padding-top: 5px;
        h1{
            font-size: 40px;
            font-weight: 600;
        }

        ul{
            padding: 20px 0px 20px;
            li{
                a{
                    font-size: 0.8rem; 
                }   
               
            }
        }

       }

       .carrito{
            @include logo-carrito(display,align-items);            
            button{
                img{
                    width: 30px;
                }
            }
        
       }
    }

}

