@import "../variables";

@mixin flex-column-center{
    display: flex;
    flex-direction: column;
    align-items: center;
}


@mixin flex-row-around{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}



#main{

    
    .main__redes-form{
        justify-content: center;
        gap: 80px;
        padding: 50px 0px 100px 0px;

        .main__redes{
            
                h3{
                    text-align: center;
                    font-size: 1.4em;
                    color: $color-h3;
                }

            .redes__insta-fb{
                padding-top: 10px;
                @include flex-column-center();
                a{
                    text-decoration: none;
                    color: black;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    gap: 10px;
                    padding-bottom: 15px;
                }
            }
        }
      

        .main__form{
            padding: 50px 0px 0px 0px;
            form{
                padding: 30px 0px 0px 40px;
                input,textarea{
                    width: 90%;
                }
            }

            h4{
                text-align: center;
                font-size: 1.4em;
                color: $color-h4;
            }

           
            button{
                background-color: rgb(72, 71, 71);
                border: none;
            }

            button:hover{
                background-color: rgb(114, 113, 113);
                margin: none;

            }


        }
    }

}


@media (min-width: 720px) and (max-width: 900px){

    #main{
        .main__redes-form{
            @include flex-row-around();          
    
            .main__redes{
                padding: 50px 0px 0px 0px;
                   .redes__insta-fb{
                    align-items: start;
                   }
            }
          
    
            .main__form{
                form{
                    .form{
                        input{
                            width: 300px;
                        }
    
                        textarea{
                            width: 300px;
                            height: 200px;
                        }
                    }
                    
                  }
            }
        }
    
    }
   
}


@media (min-width: 901px) and (max-width: 1280px){

    #main{
        .main__redes-form{
            @include flex-row-around();         
            .main__redes{
                padding: 50px 0px 0px 0px;
                   .redes__insta-fb{
                    align-items: start;
                   }
            }
          
    
            .main__form{
              form{
                .form{
                    input{
                        width: 400px;
                    }

                    textarea{
                        width: 400px;
                        height: 200px;
                    }
                }
                
              }
            }
        }
    
    }
}
   
   

   



@media (min-width: 1281px) and (max-width: 1600px){

    #main{

    
        .main__redes-form{
            @include flex-row-around();          
            padding-top: 50px;
          
            .main__redes{
                padding: 50px 0px 0px 0px;
                   .redes__insta-fb{
                    align-items: start;
                   }
            }
          
    
            .main__form{
              form{
                .form{
                    input{
                        width: 400px;
                    }

                    textarea{
                        width: 400px;
                        height: 200px;
                    }
                }
                
              }
            }
        }
    
    }
}
   




