@import "../variables";


@mixin flex-direction-align (){
    display: flex;
    flex-direction: column;
    align-items: center;
}

@mixin img-style{
    background-color: rgba(210, 210, 206, 0.152);
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.1);
}

#main{

    h3{
        font-size: 1rem;
        text-align: center;
        color: rgb(187, 137, 76)
    }
   .main__imagenes{
        @include flex-direction-align();
        padding: 50px 0px 50px 0px;
        gap: 50px;
        .imagen__izquierda, .imagen__derecha{
            @include img-style();
            padding: 50px;
            img{
                width: 200px;
            }
        }
   } 
}


@media (min-width: 641px) and (max-width: 720px){

    #main{
        h3{
            font-size: 1.3rem;
            text-align: center;
            color: rgb(187, 137, 76)
        }
       .main__imagenes{
        display: flex;
        gap: 100px;
        padding: 20px;

            .imagen__izquierda{
               align-self: start;
            }
            .imagen__derecha{
                align-self: end;
             }
       }
    }
     
    
}


@media (min-width: 721px) and (max-width: 900px){
    #main{
        h3{
            font-size: 1.3rem;
            text-align: center;
            color: rgb(187, 137, 76)
        }
       .main__imagenes{
        display: flex;
        gap: 100px;
        padding: 100px 30px 100px 30px;
            .imagen__izquierda{
               align-self: start;
               img{
                width: 250px;
                }
            }
            .imagen__derecha{
                align-self: end;
                img{
                    width: 250px;
                }
             }
       }
    }
}


@media (min-width: 901px) and (max-width: 1280px){
    #main{
        h3{
            font-size: 1.4rem;
            text-align: center;
            color: rgb(187, 137, 76)
        }
       .main__imagenes{
        display: flex;
        gap: 100px;
        padding: 100px 50px 100px 50px;

            .imagen__izquierda{
               align-self: start;
               img{
                width: 300px;
                }
            }
            .imagen__derecha{
                align-self: end;
                img{
                    width: 300px;
                }
             }

             
       }
    }
}


@media (min-width: 1281px) and (max-width: 1600px){
    #main{
        h3{
            font-size: 1.5rem;
            text-align: center;
            color: rgb(187, 137, 76)
        }
       .main__imagenes{
        padding: 100px;
        display: flex;
        gap: 100px;
            .imagen__izquierda{
               align-self: start;
               img{
                width: 300px;
                }
            }
            .imagen__derecha{
                align-self: end;
                img{
                    width: 300px;
                    }
             }
       }
    }
}