#main{
    .main__categorias{
        .main__categorias-bg{
            background-color: rgba(169, 171, 174, 0.064);
            box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
            padding: 20px 0px 20px 0px;
            h6{
                font-size: 1.2rem;
                text-align: center;
            }
            ul{
                display: flex;
                justify-content: center;
                gap: 10px;
                padding: 20px 0px 0px 0px;
                li{
                    list-style: none;
                    font-size: 0.6rem;
                    
                   
                    button{
                        padding: 5px 10px 5px 10px;
                        border: none;
                        border-radius: 5px;
                        background-color: rgba(241, 208, 173, 0.466);
                    } 

                    button:hover{
                        color: $color-hover-caregorias;
                    }
                }
            }
         }   
    }
            
    .main__video{
        padding: 50px 0px 50px 0px;                     
        video{
            width: 200px;
            box-shadow: 0 5px 8px rgba(0, 0, 0, 0.3);
        }
                
    }  
    
}
        
    
    @media (min-width: 641px) and (max-width: 720px){

        #main{
            .main__categorias{
                .main__categorias-bg{
                    h6{
                        font-size: 1.2em;
                    }
                    ul{
                        gap: 20px;
                        li{
                            font-size: 0.7rem;
                            button{
                                padding: 5px 15px 5px 15px;
                            } 
                        }
                    }
                }   
                    }
                    
                    .main__video{
                        video{
                            width: 250px;
                        }    
                    }
        }
    }
    
    
    @media (min-width: 721px) and (max-width: 900px){
        #main{
            .main__categorias{
                .main__categorias-bg{
                    h6{
                        font-size: 1.3rem;
                    }
                    ul{
                        gap: 20px;
                        li{
                            font-size: 0.8rem;
                            button{
                                padding: 5px 15px 5px 15px;
                            } 
                        }
                    }
                }   
                    }
                    
                    .main__video{                   
                            video{
                                width: 300px;
                        }
                        
                    }
        }
       
    }
    
    
    @media (min-width: 901px){
        #main{
            .main__categorias{
                .main__categorias-bg{
                    h6{
                        font-size: 1.4rem;
                    }
                    ul{
                        gap: 20px;
                        li{
                            font-size: 0.9rem;
                            button{
                                padding: 5px 20px 5px 20px;
                            } 
                        }
                    }
                }   
                    }
                    
                    .main__video{                   
                            video{
                                width: 350px;
                        }
                    }
        }
       
    }
    
    
    @media (min-width: 1281px) and (max-width: 1600px){

        #main{
            .main__categorias{
                .main__categorias-bg{
                    h6{
                        font-size: 1.4rem;
                    }
                    ul{
                        gap: 20px;
                        li{
                            font-size: 1rem;
                            button{
                                padding: 5px 20px 5px 20px;
                            } 
                        }
                    }
                }   
                    }
                    
                    .main__video{ 
                            video{
                                width: 350px;
                        }
                    }
        }
       
    }