#main{
    .main__categorias{
        .main__categorias-bg{
            background-color: rgba(169, 171, 174, 0.064);
            padding: 20px;
            h6{
                font-size: 1.2em;
                text-align: center;
            }
            ul{
                justify-content: center;
                gap: 30px;
                padding-top: 20px;
                li{
                    list-style: none;
                    font-size: 0.6em;
                    button{
                        border: none;
    
                    } 
                }
            }
        }   
            }
            
            .main__video{
                padding: 40px;             
                .main__video-bg{
                    border-radius: 20px;                    
                    video{
                        width: 200px;
                }
                }
            }  
    
    }

    @media (max-width: 640px) {

    }
    
    
    
    @media (min-width: 641px) and (max-width: 720px){
        
    }
    
    
    @media (min-width: 721px) and (max-width: 900px){
       
    }
    
    
    @media (min-width: 901px) and (max-width: 1280px){
       
    }
    
    
    @media (min-width: 1281px) and (max-width: 1600px){
       
    }