@import "../variables";

@mixin flex-direction-align ($flex, $direction, $align, $gap){
    display: $flex;
    flex-direction: $direction;
    align-items: $align;
    row-gap: $gap;
}

@mixin productosStyle{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

@mixin titulos-productos (){
    text-align: center;
    color: $color-subtitulos;
    font-size: 1.5rem;
    padding: 0px 0px 40px 0px;
}

@mixin gap-productos ($column, $row){
    column-gap: $column;
    row-gap: $row;
}

#main{
    .main__aside-productos{ 
        @include flex-direction-align(flex, column, center, 100px);
        padding: 50px 0px 100px 0px;
        .main__categorias{
            .categorias__filtros{
                background-color: rgba(229, 229, 229, 0.626);
                box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
                padding: 20px;
                border-radius: 3px;
                p{
                    text-align: center;
                    font-size: 1.2rem;
                    font-weight: 600;
                    color: black;
                }
                .categorias{ 
                    
                        li{
                            padding: 5px 0px 5px 0px;
                            list-style: none;
                            font-size: 0.8rem;
                            a{
                                text-decoration: none;
                                color: black;
                            }
                            a:hover{
                                color: $color-hover-caregorias;
                            }
                        }
                }
            }
            
        }

        .main__productos{ 
            .main__buscador{
                display: flex;
                gap: 20px;
                input{
                    width: 500px;
                }

                button{
                    background-color: #62401d;
                    border: none;
                }
            }

            @include flex-direction-align(flex, column, center, 80px);
            #productos__tapices, #productos__colgantes{
                .productos__titulo{
                    @include titulos-productos();
                }  

                #productos__card-tapices,  #productos__card-colgantes{
                    @include flex-direction-align(flex, column, center, 0px);
                    @include gap-productos(0px, 100px);

                    .card {
                        width: 220px;
                        border: 1px solid #ddd;
                        border-radius: 10px;
                        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
                        text-align: center;
                        background-color: #fff;
                        overflow: hidden;
                        transition: transform 0.2s ease, box-shadow 0.2s ease;
                        @include flex-direction-align(flex, column, center, 0px);

                        &:hover {
                            transform: translateY(-5px);
                            box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
                        }
                    
                        img {
                            width: 100%;
                            height: 220px;
                            object-fit: cover;
                            border-bottom: 1px solid #ddd;
                        }
                    
                        h6 {
                            font-size: 1.1rem;
                            margin: 15px 0 5px;
                            color: #333;
                        }
                    
                        p {
                            font-size: 0.85rem;
                            color: #555;
                            margin: 10px 15px 15px;
                            line-height: 1.4;
                        }
                    
                        button {
                            display: inline-block;
                            background-color: #3ac735;
                            color: #fff;
                            border: none;
                            width: 130px;
                            border-radius: 5px;
                            padding: 8px 12px; 
                            font-size: 0.77rem;
                            transition: background-color 0.2s ease;
                            margin-bottom: 20px;
                    
                            &:hover {
                                background-color: #42ed4e;
                            }
                        }
                    }   
                }
            }
        }
    }
   
    @media (min-width: 720px) and (max-width: 900px){
        
            .main__aside-productos{
                padding: 100px 0px 100px 0px;
                    .main__categorias{
                        .categorias__filtros{
                            .categorias{
                                display: flex;
                                gap: 30px;
                                li{
                                    font-size: 0.9rem;
                                }

                             }
                        }
                        
                    }
                    
                .main__productos{
                    #productos__tapices, #productos__colgantes{
                        
                        .productos__titulo{
                            @include titulos-productos();
                        } 
                        #productos__card-tapices,  #productos__card-colgantes{
                            @include flex-direction-align(flex, row, center, 0px);
                            @include productosStyle(); 
                            @include gap-productos(60px, 100px);
                        }
                        
                    }
                }
            }    
    }
    
    @media (min-width: 901px) and (max-width: 1280px){
        .main__aside-productos{
            @include flex-direction-align(flex, row, start, 0px);
            padding: 50px 0px 100px 0px;
            .main__categorias{
                min-height: 100vh;
                width: 30%;
                padding: 100px 0px 0px 30px;
                .categorias__filtros{
                    padding: 30px 15px 30px 15px;
                    width: 180px;
                    .categorias{
                        li{
                            font-size: 1rem;
                        }
                     }
                }            
            }

            .main__productos{
                padding-left: 50px;
                #productos__tapices, #productos__colgantes{
                    .productos__titulo{
                        @include titulos-productos();
                    } 
                    #productos__card-tapices,  #productos__card-colgantes{
                        @include flex-direction-align(flex, row, center, 0px);
                        @include productosStyle(); 
                        @include gap-productos(60px, 100px);

                    }     
                }
            }
        }
    }
    
    
    @media (min-width: 1281px){
        .main__aside-productos{
            @include flex-direction-align(flex, row, start, 0px);
            padding: 50px 0px 100px 0px;
            .main__categorias{
                min-height: 100vh;
                width: 30%;
                padding: 100px 0px 0px 30px;
                .categorias__filtros{
                    padding: 30px 15px 30px 15px;
                    width: 180px;
                    .categorias{
                        li{
                            font-size: 1rem;
                        }
                     }
                }     
            }

            .main__productos{
                padding-left: 50px;
                #productos__tapices, #productos__colgantes{
                    .productos__titulo{
                        @include titulos-productos();
                    } 
                    #productos__card-tapices,  #productos__card-colgantes{
                        @include flex-direction-align(flex, row, center, 0px);
                        @include productosStyle(); 
                        @include gap-productos(60px, 100px);
                    }
                }
            }
        }
    }
 }