@import "../variables";

@mixin flex-direction-align ($flex, $direction, $align, $gap){
    display: $flex;
    flex-direction: $direction;
    align-items: $align;
    row-gap: $gap;
}

@mixin productosStyle{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

@mixin gap-productos ($column, $row){
    column-gap: $column;
    row-gap: $row;
}

#main{
    .main__buscador{
        display: flex;
        justify-content: center;
        padding: 50px 0px 50px 0px;
        input{
            width: 700px;
        }
    }
    .main__aside-productos{ 
        @include flex-direction-align(flex, column, center, 100px);
        padding: 50px 0px 100px 0px;
        .main__categorias{
            .categorias__filtros{
                background-color: rgba(229, 229, 229, 0.626);
                padding: 20px;
                p{
                    text-align: center;
                    font-size: 1.2rem;
                    font-weight: 600;
                    color: black;
                }
                .categorias{                    
                        li{
                            padding: 5px 0px 5px 0px;
                            list-style: none;
                            font-size: 0.8rem;
                            button{
                                border: none;
                                color: black;
                                &:hover{
                                    color: $color-hover-caregorias;
                                }
                            }
                            .active{
                                background-color: #2e2e319a;
                                color: #fff;
                                padding: 2px 10px 2px 10px;
                                border-radius: 2px;
                                &:hover{
                                    color: #fff;
                                }
                            }

                        }
                }
            }
            
        }

        .main__productos{ 
            @include flex-direction-align(flex, column, center, 80px);
            #contenedor__productos{  
                    @include productosStyle(); 
                    @include gap-productos(60px, 100px);
                   
                    .card {
                        min-width: 290px;
                        text-align: center;
                        border-radius: 0px;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        align-content: center;            
                        
                        #imgProducto{
                            transition: transform 0.2s ease;
                        }
                        #imgProducto:hover{
                            transform: scale(1.3);
                        }
                            img {
                                width: 100%;
                                height: 220px;
                                object-fit: cover;
                                
                            }
                        
                        .cardContenido{
                            padding: 10px;
                            align-items: center;
                            h6 {
                                font-size: 1.1rem;
                                color: #333;
                            }
                        
                            p {
                                font-size: 0.85rem;
                                color: #555;
                                line-height: 1.4;
                            }
                        
                            button {
                                display: inline-block;
                                background-color: #3ac735;
                                color: #fff;
                                border: none;
                                width: 130px;
                                border-radius: 5px;
                                padding: 8px 12px; 
                                font-size: 0.77rem;
                                transition: background-color 0.2s ease;
                                margin-bottom: 20px;
                        
                                &:hover {
                                    background-color: #42ed4e;
                                }
                            }
    
                            #divCantidad{
                                @include flex-direction-align (flex, row, center, 0px);
                                gap: 10px;
                                justify-content: center;
                                p{
                                    padding-top: 15px;
                                }
                                .cantidadInput{
                                    width: 30px;
                                    height: 30px;
                                    font-size: 0.8rem;  
                                }
                            }
                        }

                    }   
                
            }
        }
    }
   
    @media (min-width: 720px) and (max-width: 900px){
            .main__aside-productos{
                    .main__categorias{
                        .categorias__filtros{
                            .categorias{
                                display: flex;
                                gap: 30px;
                                li{
                                    font-size: 0.9rem;
                                }

                             }
                        }
                        
                    }
                    
                .main__productos{
                    #contenedor__productos{
                            @include flex-direction-align(flex, row, center, 0px);
                            @include gap-productos(60px, 100px);
                    }
                }
            }    
    }
    
    @media (min-width: 901px) and (max-width: 1280px){
        .main__aside-productos{
            @include flex-direction-align(flex, row, start, 0px);
            .main__categorias{
                min-height: 100vh;
                width: 30%;
                padding: 100px 0px 0px 30px;
                .categorias__filtros{
                    padding: 30px 15px 30px 15px;
                    width: 180px;
                    .categorias{
                        li{
                            font-size: 1rem;
                        }
                     }
                }            
            }

            .main__productos{
                #contenedor__productos{
                        @include flex-direction-align(flex, row, center, 0px);
                        @include gap-productos(60px, 100px);       
                }
            }
        }
    }
    
    
    @media (min-width: 1281px){
        .main__aside-productos{
            @include flex-direction-align(flex, row, start, 0px);
            .main__categorias{
                min-height: 100vh;
                width: 30%;
                padding: 100px 0px 0px 30px;
                .categorias__filtros{
                    padding: 30px 15px 30px 15px;
                    width: 180px;
                    .categorias{
                        li{
                            font-size: 1rem;
                        }
                     }
                }     
            }

            .main__productos{
                #contenedor__productos{
                        @include flex-direction-align(flex, row, center, 0px);
                        @include gap-productos(60px, 100px);
                }
            }
        }
    }
 }